* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Tornando as caixas adaptaveis (caixas não ficam sobrando dentro dos elementos)*/
}

header {
    padding: 2rem 1rem;
    background-color: gray;
}

.container {
    padding: 6rem 3rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;  /*Fará com que as caixas possam ser quebradas se necessário (quando não houver espaço)*/
    align-content: center; /*propriedade que será usada para alinhar as caixas quando quebradas*/
}

.container div {
    width: 30rem; /*largura da caixa*/
    height: 20rem; /*Altura da caixa*/
    margin: 10px;
    min-width: 299px;  /*Limitando o tamanho mínimo que a caixa terá (ela não ficará menor que 299px)*/
    
}

.sessao01 {
    background: linear-gradient(180deg, #290a9b6b 8.33%, #09446ccb 100%), url(imagens/estatua1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


    justify-content: start;

}

.div01 {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 1.3rem;

}

.div01 p {
    font-size: 2rem;
}

.btn {
    padding: 0.5rem;
    border-radius: 5px;
    width: 15rem;
    background-color: rgb(158, 155, 163);
    color: white;
    font-weight: 700;
    border: none;
}

 span {
    color: blue;
    font-size: 3rem;
}

.sessao02 {
    background-color: #493d3f;

}

.div-img img {
    width: 20rem;
    border-radius: 10px;

}

.div-paragrafo p {
    color: white;
    font-size: 1.8rem;
    margin-top: 1.5rem;
}

.sessao03 {
    background-color: #5a5955;
}

.div-sessao04 {
    display: flex;
    justify-content: center;
    align-items: center;
}