* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Tornando as caixas adaptaveis (caixas não ficam sobrando dentro dos elementos)*/
}

header {
    padding: 2rem 1rem;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;


    position: sticky;
    top: 0;
    left: 0;


    z-index: 1000;
}

.hamburguer {

    display: none;

}

.logo-header {
    width: 5rem;
}

.nav-header {
    display: flex;
    justify-content: end;
}

.ul-list {
    display: flex;
    gap: 20px;
}

.ul-list a {
    color: rgb(20, 20, 20);
    text-decoration: none;
    background-color: #ededf0;
    font-weight: 700;
    padding: 0.5rem 1.3rem;
}

.container {
    padding: 6rem 3rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;  /*Fará com que as caixas possam ser quebradas se necessário (quando não houver espaço)*/
    align-content: center; /*propriedade que será usada para alinhar as caixas quando quebradas*/
}

.container div {
    width: 30rem; /*largura da caixa*/
    height: 20rem; /*Altura da caixa*/
    margin: 10px;
    min-width: 299px;  /*Limitando o tamanho mínimo que a caixa terá (ela não ficará menor que 299px)*/
    
}

.sessao01 {
    background: linear-gradient(180deg, #290a9b6b 8.33%, #09446ccb 100%), url(imagens/estatua1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


    justify-content: start;

}

.div01 {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 1.3rem;

}

.div01 p {
    font-size: 2rem;
}

.btn {
    padding: 0.5rem;
    border-radius: 5px;
    width: 15rem;
    background-color: rgb(158, 155, 163);
    color: white;
    font-weight: 700;
    border: none;
}

 span {
    color: blue;
    font-size: 3rem;
}

.sessao02 {
    background-color: #493d3f;

}

.div-img img {
    width: 20rem;
    border-radius: 10px;

}

.div-paragrafo p {
    color: white;
    font-size: 1.8rem;
    margin-top: 1.5rem;
}

.sessao03 {
    background-color: #5a5955;
}

.div-sessao04 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sessao04 {
    background-image: url(imagens/poltrona4.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

footer {
    padding: 2rem 1rem;
    background-color: #493d3f;
    display: flex;
    justify-content: space-evenly;

}

.ul-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.ul-footer a {
    text-decoration: none;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.img-line {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sociais {
  padding: 1rem;
  display: flex;
  gap: 10px;
}

.sociais i {
    color: white;
    font-size: 2rem;
}

.img-line img {
    margin: 1rem;
    width: 10rem;
}

/*FIM DO RODAPÉ*/

@media (max-width: 768px) {

    .logo-header {
        width: 3rem;
    }

    .div01 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .div01 p {
        font-size: 1.6rem;
        margin: 25px;
    }

    .sessao03 {
        gap: 5rem;
        justify-content: center;
        align-items: center;
    }

    .div-sessao04 button {
        width: 12rem;
        border: none;

    }

    .ul-list {
        display: none;
    }

    .hamburguer {
        display: flex;
        padding: 0.3rem;
        background: transparent;
        color: white;
        font-size: 1.5rem;
    }

    footer {
        flex-direction: column;
        gap: 40px;

    }

    .ul-footer {
        text-align: center;
    }
}